.text-primary {
  color: var(--light100);
}
html {
  --dark: #1b1b1b;
  --dark100: #1f1f1f;
  --dark200: #272727;
  --dark300: #484848;
  --dark400: #2d2d2d;

  --light: #afafaf;
  --light100: #868686;
  --light200: #c8c8c8;
  --light400: #898989;
  --white: #ffffff;

  --blue: #3471ff;
  --blue-transparent: #232938;

  --red: #cb1919;
}
