@import url('./font.css');
@import url('./color.css');

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  scrollbar-color: #3471ff #272727;
  scrollbar-width: thin;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #272727;
}

button,
input,
a {
  padding: 0;
  margin: 0;

  color: inherit;
  background: inherit;

  border: none;
  outline: none;
}
button,
a {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;

  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
